@font-face {
    font-family: "icomoon";
    /*especifica a fonte como icomoon e utiliza varios formatos de arquivos fontes para suportar varios navegadores */
    src: url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.eot?u8ckod");
    src: url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.eot?u8ckod#iefix")
        format("embedded-opentype"),
      url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.ttf?u8ckod")
        format("truetype"),
      url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.woff?u8ckod")
        format("woff"),
      url("https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/icomoon/fonts/icomoon.svg?u8ckod#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], /*seleciona elementos cujo atributo 'class' começam com icon- o caractere '^' indica que a seleção é feita com base no inicio do valor do atributo 'class*/
  [class*=" icon-"]{ /*Isso seleciona elementos cujo atributo class contém a substring " icon-". O caractere * indica que a seleção é feita com base na presença da substring em qualquer parte do valor do atributo class*/
    font-family: "icomoon" !important; /*define a fonte para os elementos selecionados e o important garante que essa propriedade de estilo tenha prioridade sobre outras regras de estilo*/
    speak-as: never; /*define como o navegador deve falar o texto em elementos slecionados, 'never' indica que o navegador nao deve falar o texto*/
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothinh: antialiased; /*suavização de bordas da fonte em navegadores*/
    -moz-osx-font-smoothing: grayscale;
  }

.icon-back:before{
    content: "\e900";
    color: #827d7b;
}

.icon-next:before{
    content: "\e901";
    color: #827d7b;
}

.icon-pause:before{
    content: "\e902";
    color: #fff;
}

.icon-play:before{
    content: "\e903";
    color: #fff;
}

.icon-playlist:before{
    content: "\e904";
    color: #fff;
}

@font-face{
    font-family: Avenir;
    src: url(https://raw.githubusercontent.com/abxlfazl/music-player-widget/main/src/assets/font/AvenirNextRoundedProMedium.TTF);
}

html{
    box-sizing: border-box;

    --duration: 1s; /*define uma duração customizada que sera usada para controlar a duração de transições e animações*/
    --ease-slider: cubic-bezier(0.4, 0, 0.2, 1); /*define uma variavel customizada com um valor de função de temorarização de transição, que define a velocidade de uma trnasição*/
    --ease-timeline: cubic-bezier(0.71 0.21, 0.3, 0.95);
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--vH) * 100);;
    font-family: Avenir, sans-serif;
    background-color: var(--body-bg, #fff);
    -webkit-tap-highlight-color: transparent;
    transition: var(--duration) background-color var(--ease-slider);
}

::-webkit-scrollbar{
    width: 0; /*oculta as barras de rolagem padrão podendo criar um design personalidado para a rolagem de conteudo*/
    height: 0;
}

.img{
    width: 100%;
    flex-shrink: 0;
    display: block;
    object-fit: cover;
}

.list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.text_trsf-cap{
    text-transform: capitalize;
}

.button{
    all: unset;
    cursor: pointer;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

._align_center{
    align-items: center;
}
._align_start{
    align-items: flex-start;
}

._align_end{
    align-items: flex-end;
}

._justify_center{
    justify-content: center;
}

._justify_start{
    justify-content: flex-start;
}

._justify_end{
    justify-content: flex-end;
}

._justify_space-btwn{
    justify-content: space-between;
}

.text_overflow{
    width: 66%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

.loading{
    gap: 0 0.5rem;
    font-size: nowrap;
    font-weight: bold;
}

.music-player{

    /*definindo as variáveis de cores e tamanhos*/
    --color-white: #fff;
    --color-gray: #e5e7ea;
    --color-blue: #78adfe;
    --color-blue-dark: #5781bd;

    --box-shadow: 0 2px 6px 1px #0000001f;

    --color-text-1: #000;
    --color-text-2: #0000006b;

    --cover-size: 3.8125em;
    --border-radius: 1.625em;

    --musicplayer-height: 24.375em;
    --offset-cover: 1.60125em;

    width: 20.9375em;
    overflow: hidden;
    user-select: none;
    color: var(--color-text-1);
    height: var(--musicplayer-height);
    border-radius: var(--border-radius);
    background-color: var(--color-white);
}